@page "/Registration"

<!--Регистрация-->
<div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <h1>Регистрация</h1>
            <label for="login" class="form-label">Логин:</label>
            <input type="login" name="loginInput" class="form-control" id="login" required>
            <label for="password1" class="form-label mt-2">Пароль:</label>
            <input type="password" name="passwordInput" class="form-control" id="ppassword1" required>
            <label for="password2" class="form-label mt-2">Подтвердите пароль:</label>
            <input type="password" name="passwordInput" class="form-control" id="ppassword2" required>
            <button type="submit" class="btn btn-primary my-3">Зарегистрироваться</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login" class="">Войти</a>
    </div>
</div>