@implements IDisposable
@inject IUserProfileActivitieService UserProfileActivitieService

<!--Ссілка на корзину-->
<form class="bd-search position-relative me-auto">
    <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
        <input type="search" class="form-control ds-input" id="search-input" placeholder="Поиск..." aria-label="Поиск..." autocomplete="off" data-bd-docs-version="5.0" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
        <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, &quot;Liberation Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
        <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;">
            <div class="ds-dataset-1">

            </div>
        </span>
    </span>
</form>
<AuthorizeView>
    <Authorized>
        Добро пожаловать @context.User.Identity.Name
        <a class="nav-link" href="logoff">Выйти</a>

        <a href="UserProfileActivitie" class="btn btn-info">
            <i class="oi oi-order"></i>&nbsp;Корзина
            <span class="badge bg-dark">@UserProfileActivitieItemCount</span>
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Войти</a>
        <a href="/login">Зарегистрироваться</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int UserProfileActivitieItemCount = 0;

    protected override void OnInitialized()
    {
        userProfileActivitieService.OnUserProfileActivitieChanged += UserProfileActivitieChanged;
    }

    protected void OrderChanged(int totalQuantity)
    {
        UserProfileActivitieItemCount = totalQuantity;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        UserProfileActivitieService.OnUserProfileActivitieChanged -= UserProfileActivitieChanged;
    }
}